{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="block">
       {{with .Site.Data.fold.image}}<img src="{{ . }}"/>{{ end }}
       {{with .Site.Data.fold.heading}} <h1>{{ . }}</h1>{{ end }}
       {{with .Site.Data.fold.content}} <p style="font-size:100%;">{{ . }}</p> {{ end }}
       {{with .Site.Data.fold.subheading}} <h2 class="fold2">{{ . }}</h2>{{ end }}
       {{with .Site.Data.fold.subcontent}} <p style="font-size:100%;">{{ . }}</p>{{ end }}
       {{ if .Site.Data.fold.btn}}
        <a data-scroll href="{{ .Site.Data.fold.btnURL}}" class="btn btn-transparent">{{ .Site.Data.fold.btnText}}</a>
        {{ end }}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
